* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.top {
  background: red;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
}

.top a {
  margin-left: 3rem;
}

.nav {
  display: flex;
}

.main {
  padding-top: 80px;
}

.container {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

.side {
  width: 300px;
  background: lightblue;
}

.content {
  background: lightpink;
  flex: 1;
  font-size: 3rem;
}

footer {
  background: #ddd;
}
